{% extends 'base.html' %}

<!-- EXTENDING MY BOILER PLATE TO THIS PAGE -->

{% block content %}
    
    <div class="container">
        <section id="top_of_page">
        <h1>To Do List</h1>
        
        <form action="/add" method="post">
            <div>
                <label>Just do it!</label>
                <input type="text" name="task" placeholder="Enter a Task..." required> <!-- FORMS FOR USER INPUTS TO CHOOSE -->
                <select required name="category" id="category" class="form-select">
                    <option value="" disabled selected hidden>Choose category...</option>
                    <option value="Work">Work</option>
                    <option value="Home">Home</option>
                    <option value="Personal">Personal</option>
                    <option value="Health">Health</option>
                    <option value="Other">Other</option>
                  </select>
                <button class="ui button green" type="submit" ><span class="material-symbols-rounded">
                    add
                    </span></button>
                {% if message %} <!-- MESSAGE TO DISPLAY ONCE TASK HAS BEEN ADDED-->
                <p>{{message}}</p>
                {% endif %}
            </div>
        </form>
    </section>
        <hr>
        <form action="/" method="get" class="filter-form">
            <div class="filter-controls">
                <select name="filter_category" id="filter_category" class="form-select">
                    <option value="">All categories</option>
                    <option value="Work">Work</option>
                    <option value="Home">Home</option>
                    <option value="Personal">Personal</option>
                    <option value="Health">Health</option>
                    <option value="Other">Other</option>
                </select>
                <button type="submit" class="ui label filter-label"><span class="material-symbols-rounded">filter_list</span></button>
            </div>
        </form>
        
        {% for todo in todo_list %} <!-- ITERATE THROUGH THE OUR TODO-->
        <div class="ui segment">
            <div class="header-container">
            <p>#</p>
            <p>TASK</p>
            <p>CATEGORY</p>
            <p>DATE</p>
            </div>
            <div class="task-container">
            <p>{{todo.id}}</p>
            <p>{{todo.task}}</p>
            <p>{{todo.category}}</p>
            <p>{{todo.date.strftime("%d/%m/%y")}}</p>
            </div>
            {% if todo.complete == False %}
            <span class="ui gray label filter">
                <span class="material-symbols-rounded">close</span>
            </span> <!-- MARKING THE TASK DONE AS COMPLETE-->
            {% else %}
            <span class="ui green label">
                <span class="material-symbols-rounded">check</span>
            </span>
            {% endif %}

            <a class="ui blue button" href="{{ url_for('my_view.update', todo_id = todo.id) }}">
                <span class="material-symbols-rounded">update</span>
            </a>
            <a class="ui yellow button" href="{{ url_for('my_view.edit', todo_id=todo.id) }}">
                <span class="material-symbols-rounded">edit</span>
            </a>
            <a class="ui red button"  href="{{ url_for('my_view.delete', todo_id = todo.id) }}">
                <span class="material-symbols-rounded">delete</span>
            </a>
        </div>
        
        {% endfor %}
        
        <a href="#top_of_page" class="back-to-top">
            <span class="material-icons">keyboard_arrow_up</span>
        </a>
    </div>
    
    {% endblock %}