
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #03eece;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}



.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 750px;
    text-align: center;
    overflow-y: auto; 
    max-height: 80vh;
    scroll-behavior: smooth;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form label, form select {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"], form select {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    box-sizing: border-box; 
}

form input[type="text"]:focus, form select:focus {
    border-color: #5cb85c;
    outline: none;
}

form button, .ui.button {
    font-family: "Montserrat", sans-serif;
    padding: 8px 20px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease;
    margin: 5px; 
}

form button:hover, .ui.button:hover {
    background-color: #4cae4c;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 2px solid #ddd;
}

/* Task list button styles */

.ui.segment {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ui.segment:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.ui.segment p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
}

.ui.label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ui.label.gray {
    background-color: #d4d4d4;
    color: #333;
    padding: 8px 12px;
    margin: 5px 0 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: default;

}


.ui.label.green {
    background-color: #5cb85c;
    color: #fff;
    padding: 8px 12px;
    margin: 5px 0 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.ui.button {
    padding: 8px 12px;
    margin: 5px 0 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ui.button.blue {
    background-color: #5bc0de;
    color: #fff;
}

.ui.button.blue:hover {
    background-color: #31b0d5;
}

.ui.button.yellow {
    background-color: #f0ad4e;
    color: #fff;
}

.ui.button.yellow:hover {
    background-color: #ec971f;
}

.ui.button.red {
    background-color: #e01109;
    color: #fff;
}

.ui.button.red:hover {
    background-color: #e01009c0;
}

.ui.button.purple {
    background-color: #237fb9;
    color: #fff;
    padding: 8px 12px;
    margin: 5px 0 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ui.button.puple:hover {
    background-color: #237fb99b;
}


form .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

/* New styles for header and task container */
.header-container, .task-container {
    display: grid;
    grid-template-columns: 50px 1fr 100px 100px;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styles for task details */

.task-container {
    font-weight: normal;
}

.task-container p {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

/* SCROLL TO TOP BUTTON */


.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007ac5;
    border-radius: 0.5rem;
    padding: 1px;
    text-decoration: none;
    transition: 0.2s ease-out;
    
}

.back-to-top span {
    color: #fff;
    font-size: 3rem;
    transition: 0.2s ease-out;
    
}

.back-to-top:hover {
    background-color: #261bbc8f;
}

.back-to-top:hover span {
    transform: translateY(-4px);
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Set width to 100% to match the container */
    margin-bottom: 10px; /* Adjust margin as needed */
}

.filter-controls {
    display: flex;
    align-items: center;
    width: 100%; /* Set width to 100% to match the container */
    justify-content: center; /* Center items horizontally */
}

#filter_category {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Set width to 100% */
    max-width: 400px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}


.filter-label {
    background-color: #939393;
    color: #fff;
    padding: 8px 12px;
    margin: 5px 0 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ui.filter-label {
        padding: 8px 12px;
        margin: 5px 0 0 5px;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

.ui.filter-label:hover {
    background-color: #575757;
}